# 짬뽕
- 중식당 비율 찾기!
- 사람들이 중식당을 다른 식당 (한식, 일식, 양식 등등)들에 비해 얼마나 더 자주 가는지 알아보기!
## 2. 중식당 빈도/비율 시각화
### 1) 필요한 패키지 참조

In [27]:
import numpy as np
import requests
from matplotlib import pyplot as plt
from pandas import read_excel, DataFrame

### 2) 그래프 전역 설정

In [18]:
# 폰트 설정
plt.rcParams['font.family'] = "Malgun Gothic"  # 윈도우 전용
#plt.rcParams['font.family'] = "AppleGothic"    # 맥 전용 (띄어쓰기 없음)

# 글자 크기
plt.rcParams["font.size"] = 12

# 그래프 크기 설정(inch)
plt.rcParams["figure.figsize"] = (20, 5)

# 유니코드에서 음수 부호설정
plt.rcParams['axes.unicode_minus'] = False

### 3) 필요한 데이터 가져오기
- read_excel()
- .filter()

In [20]:
data = read_excel("/Users/dayoonz/Desktop/일반음식점.xlsx")

# 중식당data = DataFrame(data.query("영업상태명 == '영업/정상'").filter(['소재지전체주소', '사업자명', '업태구분명', '좌표정보(X)', '좌표정보(Y)']))

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

업태구분명
한식                 125648
분식                  48322
경양식                 25590
기타                  24781
호프/통닭               24430
일식                  10805
중국식                  9305
정종/대포집/소주방           9072
통닭(치킨)               6051
까페                   5426
패스트푸드                2171
뷔페식                  2092
외국음식전문점(인도,태국등)      1618
식육(숯불구이)             1019
횟집                   1008
김밥(도시락)               955
전통찻집                  366
탕류(보신용)               289
감성주점                  239
라이브카페                 163
냉면집                   145
출장조리                  139
패밀리레스트랑               139
복어취급                   73
이동조리                   72
키즈카페                   61
커피숍                     3
룸살롱                     1
다방                      1
기타 휴게음식점                1
간이주점                    1
Name: count, dtype: int64

### 4) 데이터 전처리
-> category

In [24]:
data['업태구분명'] = data['업태구분명'].astype('category')
data.dtypes

번호             int64
개방서비스명        object
개방서비스아이디      object
개방자치단체코드       int64
관리번호          object
인허가일자         object
인허가취소일자      float64
영업상태구분코드       int64
영업상태명         object
상세영업상태코드       int64
상세영업상태명       object
폐업일자          object
휴업시작일자       float64
휴업종료일자       float64
재개업일자        float64
소재지전화         object
소재지면적        float64
소재지우편번호       object
소재지전체주소       object
도로명전체주소       object
도로명우편번호      float64
사업장명          object
최종수정시점        object
데이터갱신구분       object
데이터갱신일자       object
업태구분명       category
좌표정보(X)      float64
좌표정보(Y)      float64
위생업태명         object
남성종사자수       float64
여성종사자수       float64
영업장주변구분명      object
등급구분명         object
급수시설구분명       object
총직원수         float64
본사직원수        float64
공장사무직직원수     float64
공장판매직직원수     float64
공장생산직직원수     float64
건물소유구분명      float64
보증액          float64
월세액          float64
다중이용업소여부      object
시설총규모        float64
전통업소지정번호      object
전통업소주된음식      object
홈페이지          object
dtype: object

### 5) 데이터 정제
- .value_counts()를 통해 업태구분명 항목 조회
- .loc[]을 통해 같은 종류의 업태구분명 병합

In [25]:
print(data['업태구분명'].value_counts())
# 한식 = 냉면집 = 김밥(도시락)
# -> 김밥과 냉면집도 한식으로 포함하기 위해 .loc['']을 통하여 데이터 병합

data.loc[data['업태구분명'] == '김밥(도시락)', '업태구분명'] = '한식'
data.loc[data['업태구분명'] == '냉면집', '업태구분명'] = '한식'
data['업태구분명'].value_counts()

업태구분명
한식                 126748
분식                  48322
경양식                 25590
기타                  24781
호프/통닭               24430
일식                  10805
중국식                  9305
정종/대포집/소주방           9072
통닭(치킨)               6051
까페                   5426
패스트푸드                2171
뷔페식                  2092
외국음식전문점(인도,태국등)      1618
식육(숯불구이)             1019
횟집                   1008
전통찻집                  366
탕류(보신용)               289
감성주점                  239
라이브카페                 163
출장조리                  139
패밀리레스트랑               139
복어취급                   73
이동조리                   72
키즈카페                   61
커피숍                     3
룸살롱                     1
다방                      1
기타 휴게음식점                1
간이주점                    1
Name: count, dtype: int64

업태구분명
한식                 126748
분식                  48322
경양식                 25590
기타                  24781
호프/통닭               24430
일식                  10805
중국식                  9305
정종/대포집/소주방           9072
통닭(치킨)               6051
까페                   5426
패스트푸드                2171
뷔페식                  2092
외국음식전문점(인도,태국등)      1618
식육(숯불구이)             1019
횟집                   1008
전통찻집                  366
탕류(보신용)               289
감성주점                  239
라이브카페                 163
출장조리                  139
패밀리레스트랑               139
복어취급                   73
이동조리                   72
키즈카페                   61
커피숍                     3
룸살롱                     1
다방                      1
기타 휴게음식점                1
간이주점                    1
Name: count, dtype: int64

### 5) 데이터프레임 생성
- DataFrame()을 통해 업태구분명 별 count 데이터프레임 생성

In [34]:
업태구분data = DataFrame(data['업태구분명'].value_counts()).reset_index()
업태구분data

              업태구분명   count
0                한식  126748
1                분식   48322
2               경양식   25590
3                기타   24781
4             호프/통닭   24430
5                일식   10805
6               중국식    9305
7        정종/대포집/소주방    9072
8            통닭(치킨)    6051
9                까페    5426
10            패스트푸드    2171
11              뷔페식    2092
12  외국음식전문점(인도,태국등)    1618
13         식육(숯불구이)    1019
14               횟집    1008
15             전통찻집     366
16          탕류(보신용)     289
17             감성주점     239
18            라이브카페     163
19             출장조리     139
20          패밀리레스트랑     139
21             복어취급      73
22             이동조리      72
23             키즈카페      61
24              커피숍       3
25              룸살롱       1
26               다방       1
27         기타 휴게음식점       1
28             간이주점       1

### 6) 데이터 정제 2
- .query() 를 통해 행 단위 필터링
- 중식처럼 주된 식사가 아닌 간식 또는 후식 음식점들을 배제(분식, 호프/통닭,통닭(치킨), 까페, 전통찻집, 라이브카페, 키즈카페,커피숍, 다방)
- 업태구분이 불분명한 항목들 배제 (정종/대포집/소주방, 패밀리레스토랑, 기타, 패스트푸드, 뷔패식, 식육(숯불구이), 횟집, 탕류(보신용), 감성주점,	출장조리, 이동조리, 복어취급,룸살롱, 기타 휴게음식점, 간이주점 등)

In [53]:
주식list = ['한식', '경양식', '일식', '중국식', '외국음식전문점(인도,태국등)']
주식data = 업태구분data.query('업태구분명 in ['한식', '경양식', '일식', '중국식', '외국음식전문점(인도,태국등)']')
주식data

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3053670666.py, line 2)

### 5) 탐색적 데이터 분석

In [ ]:
datafilter = DataFrame(data.query("영업상태명 == '영업/정상'").filter(['소재지전체주소', '사업자명', '업태구분명', '좌표정보(X)', '좌표정보(Y)']))