## DataFrame 확인하기

In [2]:
# 필요한 패키지 가져오기
from pandas import read_excel, DataFrame

In [3]:
# 데이터 준비
df = read_excel('https://data.hossam.kr/C01/grade.xlsx', index_col = '이름')
df

    학년  성별  국어  영어  수학  과학
이름
철수   1  남자  98  77  88  64
영희   2  여자  88  90  62  72
민철   1  남자  92  70  83  79
수현   3  여자  63  60  31  70
호영   4  남자  75  50  90  88

#### 데이터 확인

##### 1) 데이터 구조 확인

In [4]:
# 데이터 차원 확인
df.ndim

# 데이터 행, 열 수 확인
print(df.shape)

# 각 변수의 데이터 타입 확인
df.dtypes

# 행과 열을 바꿔 확인
df.T

# 데이터 정보 확인 - 컬럼 목록, 빈값, dtype
df.info()

# 데이터프레임()의 기초통계량 확인
df.describe()

(5, 6)
<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 철수 to 호영
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   학년      5 non-null      int64
 1   성별      5 non-null      object
 2   국어      5 non-null      int64
 3   영어      5 non-null      int64
 4   수학      5 non-null      int64
 5   과학      5 non-null      int64
dtypes: int64(5), object(1)
memory usage: 280.0+ bytes

##### 2) 데이터 내용 확인

In [10]:
# 열 조회
df['국어']

# 열에 대한 데이터 타입 확인
type(df['국어'])

# 행 조회
df.loc['철수']

# 같은 컬럼 값의 행 조회
df[df['성별'] == '여자']

# index로 행 조회
df.iloc[[0]]

# 행에 대한 데이터 타입 확인 
type(df.loc['철수'])

# 값 확인하기 (열 -> 행 순서)
df['국어']['철수']

# 값 확인하기 (행 -> 열 순서)
df.loc['철수', '국어']

# 값 변경: 행 -> 열 군으로 접근하는 경우만 가능
df.loc['철수', '국어'] = 100
df

# 상위 n건 확인: 파라미터가 없을 경우 5개가 기본값
df.head(2)

# 하위 n건 확인: 파라미터가 없을 경우 5개가 기본값
df.tail(2)

# 특정 열에 대한 데이터 빈도수 학인
df['성별'].value_counts()

# 데이터프레임 열 항목 조회
df.columns

# 데이터프레임 인덱스 조회
df.index

Index(['철수', '영희', '민철', '수현', '호영'], dtype='object', name='이름')